.category {
  padding-top: 80px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.category__header {
  padding: 16px 0;
  font-size: 14px;
  color: #221f20;
  line-height: 24px;
  font-weight: 400;
  border-bottom: 1px groove rgba(128, 128, 128, 0.1098039216);
}
.category__content {
  margin-top: 46px;
  display: flex;
}
.category__content--navbar {
  width: 25%;
  min-width: 250px;
}
.category__content--navbar--list {
  padding-right: 30px;
}
.category__content--navbar--list--item {
  line-height: 24px;
  border-bottom: 1px solid #F7F8F9;
  font-size: 16px;
  line-height: 20px;
  color: #221F20;
  align-items: center;
  margin-bottom: 18px;
  font-weight: normal;
  height: max-content;
  cursor: pointer;
}
.category__content--navbar--list--item--header {
  display: flex;
  justify-content: space-between;
}
.category__content--navbar--list--item--header i {
  font-size: 16px;
  color: gray;
}
.category__content--navbar--list--item--select {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  height: 0;
  flex-wrap: wrap;
  width: 82%;
  overflow: hidden;
  padding-left: 20px;
}
.category__content--navbar--list--item--select:nth-child(2).showAnima {
  padding-bottom: 50px;
}
.category__content--navbar--list--item--select .size {
  font-size: 12px;
  line-height: 16px;
  padding: 8px 18px;
  border-radius: 10px 0;
  color: #6C6D70;
  border: 1px solid #7d8699;
}
.category__content--navbar--list--item--select .color {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #f4ed95;
  border-radius: 50%;
}
.category__content--navbar--list--item--select .color:nth-child(2) {
  background-color: #c3d5a4;
}
.category__content--navbar--list--item--select .color:nth-child(3) {
  background-color: #f1b7c5;
}
.category__content--navbar--list--item--select .color:nth-child(4) {
  background-color: #bf3b2f;
}
.category__content--navbar--list--item--select .color:nth-child(5) {
  background-color: #666371;
}
.category__content--navbar--list--item--select .color:nth-child(6) {
  background-color: #ece4e1;
}
.category__content--navbar--list--item--select .color:nth-child(7) {
  background-color: #4f3034;
}
.category__content--navbar--list--item--select .color:nth-child(8) {
  background-color: #36313b;
}
.category__content--navbar--list--item--select .color:nth-child(9) {
  background-color: #d98b39;
}
.category__content--navbar--list--item--select .color:nth-child(10) {
  background-color: #b38292;
}
.category__content--navbar--list--item--select .color:nth-child(11) {
  background-color: #ebe3e0;
}
.category__content--navbar--list--item--select .color span {
  position: absolute;
  background-color: black;
  color: white;
  padding: 3px 5px;
  font-size: 13px;
  border-radius: 6px;
  top: 4px;
  top: 19px;
  left: -8px;
  display: none;
  z-index: 3;
  transition: 0.3s linear;
}
.category__content--navbar--list--item--select .color:hover > span {
  display: block;
}
.category__content--navbar--list--item--select .price {
  width: 100%;
}
.category__content--navbar--list--item--select .price input {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.637);
}
.category__content--navbar--list--item--select .price input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}
.category__content--navbar--list--item--select .price .range {
  display: flex;
  justify-content: space-between;
}
.category__content--navbar--list--item .showAnima {
  height: max-content;
  transition: height 0.3s linear;
}
.category__content--product {
  width: 70%;
  padding: 0 15px;
}
.category__content--product--header {
  display: flex;
  justify-content: space-between;
}
.category__content--product--header h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #221F20;
}
.category__content--product--header select {
  font-size: 14px;
  line-height: 16px;
  color: #221F20;
  background: #FFFFFF;
  border: 1px solid #E7E8E9;
  border-radius: 24px;
  padding: 12px 40px 12px 16px;
  cursor: pointer;
  outline: none;
}
.category__content--product--list {
  position: relative;
  margin: 30px 0;
  padding-bottom: 100px;
}
.category__content--product--list--wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.category__content--product--list--wrap--item {
  width: 180px;
}
.category__content--product--list--wrap--item img {
  display: block;
  width: 100%;
  height: 270px;
}
.category__content--product--list--wrap--item .img-lazy {
  display: none;
}
.category__content--product--list--wrap--item--information {
  width: 100%;
}
.category__content--product--list--wrap--item--information .option {
  display: flex;
  justify-content: space-between;
  margin: 13px 0;
}
.category__content--product--list--wrap--item--information .option .color {
  font-weight: 600;
  font-size: 15px;
}
.category__content--product--list--wrap--item--information .name {
  color: #57585A;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category__content--product--list--wrap--item--information .cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.category__content--product--list--wrap--item--information .cart .price {
  color: #3E3E3F;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.category__content--product--list--wrap--item--information .cart i {
  padding: 6px 10px;
  background: black;
  color: white;
  border-radius: 8px 0;
  border: 1px solid black;
}
.category__content--product--list--wrap--item--information .cart i:hover {
  background-color: white;
  color: black;
}
.category__content--product--list--wrap--item:hover .img-main {
  display: none;
}
.category__content--product--list--wrap--item:hover .img-lazy {
  display: block;
}
.category__content--product--list--pagination {
  position: absolute;
  display: flex;
  left: 33%;
  bottom: 0;
}
.category__content--product--list--pagination li {
  background: #FFFFFF;
  border: 1px solid #9ea2a5;
  border-radius: 4px;
  height: 32px;
  font-size: 12px;
  color: #6C6D70;
  text-align: center;
  line-height: 30px;
  margin-right: 12px;
}
.category__content--product--list--pagination li a {
  min-width: 32px;
  color: black;
  padding: 4px 14px;
  min-width: 32px;
  font-size: 15px;
  font-weight: 500;
}
.category__content--product--list--pagination .active {
  background-color: black;
}
.category__content--product--list--pagination .active a {
  color: white;
}

/*# sourceMappingURL=category.css.map */
