.container {
  overflow-x: hidden;
}

.header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 15px;
}
.header .fa-bars {
  display: none;
}
.header__navBar {
  height: 56px;
  display: flex;
}
.header__navBar .fa-xmark {
  display: none;
}
.header__navBar__item {
  position: relative;
  font-size: 12px;
  padding: 15px 0;
  color: #1a1818;
  font-weight: 600;
  line-height: 26px;
  cursor: pointer;
}
.header__navBar__item a {
  color: #1a1818;
}
.header__navBar__item--popup {
  position: absolute;
  width: max-content;
  background-color: white;
  gap: 20px;
  padding: 15px;
  animation: popup 0.3s ease-in-out;
  font-size: 12px;
  line-height: 24px;
  display: none;
  transform-origin: 40px -25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__navBar__item--popup h3 {
  margin-bottom: 10px;
}
.header__navBar__item--popup li {
  margin-bottom: 10px;
}
.header__navBar__item:hover > .header__navBar__item--popup {
  display: flex;
  transition: 0.5s;
}
.header__navBar > li + li {
  margin-left: 5px;
}
.header__logo {
  display: flex;
}
.header__logo img {
  width: 100px;
}
.header__subNav {
  height: 40px;
  display: flex;
}
.header__subNav--search {
  position: relative;
  margin-right: 20px;
}
.header__subNav--search i {
  position: absolute;
  left: 10px;
  top: 12px;
}
.header__subNav--search--popup {
  transform-origin: 40px -20px;
  animation: popup 0.4s ease-in;
  background-color: white;
  position: absolute;
  padding: 15px;
  width: 150%;
  top: 50px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__subNav--search--popup ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}
.header__subNav--search--popup ul li {
  font-size: 12px;
  border: 1px solid rgba(128, 128, 128, 0.233);
  border-radius: 6px 0;
  padding: 4px 6px;
}
.header__subNav--search input {
  padding: 15px 15px 15px 30px;
  width: 180px;
  height: 100%;
  font-size: 12px;
  outline: none;
  border: 1px solid #E7E8E9;
  border-radius: 4px;
}
.header__subNav--search input:focus ~ .header__subNav--search--popup {
  display: block;
}
.header__subNav__options {
  display: flex;
  align-items: center;
}
.header__subNav__options .header__subNav__option--item {
  margin: 0 5px;
  position: relative;
}
.header__subNav__options .header__subNav__option--item i {
  color: #383737;
}
.header__subNav__options .header__subNav__option--item--popup {
  position: absolute;
  transform-origin: 140px -20px;
  animation: popup 0.3s ease-in;
  background-color: white;
  position: absolute;
  top: 20px;
  border-radius: 4px;
  width: max-content;
  right: -38px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: rgba(41, 37, 37, 0.862745098);
  font-size: 14px;
}
.header__subNav__options .header__subNav__option--item--popup--item {
  padding: 5px 16px;
  line-height: 24px;
}
.header__subNav__options .header__subNav__option--item--popup--item span {
  color: red;
}
.header__subNav__options .header__subNav__option--item--popup--item:nth-child(1) {
  padding-top: 8px;
  border-radius: 4px 4px 0;
}
.header__subNav__options .header__subNav__option--item--popup--item:nth-child(2) {
  padding-bottom: 8px;
  border-radius: 0 0 4px 4px;
}
.header__subNav__options .header__subNav__option--item--popup--item:hover {
  background-color: rgba(128, 128, 128, 0.432);
}
.header__subNav__options .header__subNav__option--item:hover .header__subNav__option--item--popup {
  display: block;
}

.header__cart--popup {
  background-color: white;
  width: 390px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s ease-in-out;
  transform: translateX(390px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__cart--popup--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 24px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.0784313725);
}
.header__cart--popup--header h2 {
  position: relative;
}
.header__cart--popup--header h2 span {
  position: absolute;
  background: black;
  font-size: 17px;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  top: 2px;
  right: -30px;
}
.header__cart--popup--header i {
  font-size: 23px;
}
.header__cart--popup--body {
  height: 75%;
  width: 100%;
  padding: 5px 16px;
  overflow-y: scroll;
}
.header__cart--popup--body--item {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  height: 111px;
  padding-bottom: 16px;
}
.header__cart--popup--body--item img {
  height: 100%;
}
.header__cart--popup--body--item--content {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
}
.header__cart--popup--body--item--content--name {
  font-weight: normal;
  font-size: 16px;
  color: #3E3E3F;
  margin-bottom: 8px;
}
.header__cart--popup--body--item--content--color {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-right: 16px;
  color: #6C6D70;
}
.header__cart--popup--body--item--content--color span {
  color: #221F20;
}
.header__cart--popup--body--item--content--pay {
  display: flex;
  justify-content: space-between;
}
.header__cart--popup--body--item--content--pay .quality {
  display: flex;
  max-width: 76px;
}
.header__cart--popup--body--item--content--pay .quality i {
  background: #FFFFFF;
  border: 1px solid #E7E8E9;
  border-radius: 8px 0px;
  padding: 1px 4px;
}
.header__cart--popup--body--item--content--pay .quality span {
  padding: 1px 11px;
}
.header__cart--popup--body--item--content--pay .price {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #AC2F33;
}
.header__cart--popup--login {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 24px;
  font-weight: 500;
  border-top: 1px solid rgba(128, 128, 128, 0.0784313725);
  cursor: pointer;
}

.content {
  padding: 80px 15px 0 15px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.content__title {
  display: flex;
}
.content__title--item {
  font-size: 14px;
  padding: 12px 0;
  width: 33.33%;
  text-align: center;
  color: white;
  font-weight: 600;
}
.content__title--item:nth-child(1) {
  background-color: #d73831;
}
.content__title--item:nth-child(2) {
  background-color: #DC633A;
}
.content__title--item:nth-child(3) {
  background-color: #ac2f33;
}
.content__slider {
  margin-top: 30px;
  overflow: hidden;
  position: relative;
}
.content__slider .content__slider--wrap {
  display: flex;
  transition: all 0.5s ease 0s;
}
.content__slider .content__slider--wrap img {
  width: 100%;
  border-radius: 80px 0 80px 0;
  transition: 2s;
}
.content__slider .mobile {
  display: none;
}
.content__slider--dot {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 10px;
}
.content__slider--dot--item {
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 50%;
  border: 1px solid #292525;
  margin: 0 4px;
  background-color: white;
}
.content__slider--dot .active {
  background-color: rgb(20, 3, 3);
}
.content .trending {
  margin-top: 30px;
  text-align: center;
}
.content .trending__title {
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 600;
}
.content .trending__tab {
  display: flex;
  justify-content: center;
}
.content .trending__tab--item {
  border: none;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 28px;
  color: #6C6D70;
  padding: 4px 0;
}
.content .trending__tab > .active {
  border-bottom: 2px solid black;
  color: #1a1818;
}
.content .trending__list {
  margin-top: 28px;
  display: none;
  gap: 30px;
}
.content .trending__list--item {
  width: 20%;
}
.content .trending__list--item--img {
  width: 100%;
}
.content .trending__list--item--img img {
  width: 100%;
}
.content .trending__list--item--content {
  width: 100%;
}
.content .trending__list--item--content--nav {
  display: flex;
  justify-content: space-between;
  margin: 13px 0;
}
.content .trending__list--item--content--nav i:nth-child(1) {
  border-radius: 50%;
  background-color: #323232;
  color: white;
  padding: 4px;
  font-size: 11px;
}
.content .trending__list--item--content--name {
  color: #57585A;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: initial;
  height: 32px;
}
.content .trending__list--item--content--cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .trending__list--item--content--cart--price {
  color: rgba(255, 0, 0, 0.7490196078);
  font-weight: 600;
}
.content .trending__list--item--content--cart i {
  color: white;
  border: 1px solid gray;
  background-color: #221F20;
  border-radius: 8px 0;
  padding: 8px 10px;
  transition: 0.5s;
}
.content .trending__list--item--content--cart i:hover {
  background-color: white;
  color: #292525;
}
.content .trending__list.active {
  display: flex;
}
.content .trending__button {
  text-align: center;
  color: #221F20;
  border-radius: 24px 0px;
  padding: 13px 24px;
  font-size: 16px;
  border: 1px solid #221F20;
  background-color: white;
  margin-top: 24px;
  transition: 0.5s;
}
.content .trending__button a {
  color: #221F20;
}
.content .trending__button:hover {
  background-color: rgba(26, 24, 24, 0.231372549);
}
.content__ads {
  margin-top: 28px;
}
.content__ads--slider {
  transition: all 1s;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  transform: translateX(-50%);
}
.content__ads--slider img {
  width: 48%;
  border-radius: 80px 0;
}
.content__ads__control {
  color: gray;
  margin-top: 28px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.content__ads__control hr {
  height: 1px;
  width: 60%;
}
.content__gallery {
  text-align: center;
}
.content__gallery h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #221F20;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 24px;
}
.content__gallery--list {
  display: flex;
}
.content__gallery--list img {
  width: 20%;
  padding: 0 15px;
  max-height: 300px;
}

.footer {
  display: flex;
  padding: 60px 15px;
  border-top: 1px solid gray;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 14px;
}
.footer__address {
  padding: 0 15px;
  max-width: 300px;
}
.footer__address h4 {
  margin-bottom: 15px;
}
.footer__address span {
  font-weight: 500;
  margin-bottom: 15px;
}
.footer__address--img {
  justify-content: space-between;
  margin-bottom: 16px;
  display: flex;
  height: 24px;
}
.footer__address--img img {
  height: 100%;
}
.footer__address > div {
  margin-bottom: 15px;
}
.footer__address--social {
  display: flex;
  justify-content: space-between;
}
.footer__address--social img {
  max-width: 30px;
  cursor: pointer;
}
.footer__address--hotline {
  font-size: 16px;
  background-color: #221F20;
  color: white;
  font-weight: 600;
  padding: 12px 24px;
}
.footer__infor {
  padding: 0 15px;
}
.footer__infor h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
.footer__infor ul li {
  margin-bottom: 16px;
  line-height: 24px;
}

@keyframes popup {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 64px;
  }
  .header .fa-bars {
    display: block;
  }
  .header__navBar {
    height: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 40px 20px;
    background-color: white;
    max-width: 390px;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
    transform: translateX(-390px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .header__navBar .fa-xmark {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
  }
  .header__navBar__item {
    margin-left: 5px;
  }
  .header__navBar__item--popup {
    display: none !important;
  }
  .header__subNav--search {
    display: none;
  }
  .header__subNav__option--item:not(.header__cart) {
    display: none;
  }
  .header__subNav__option--item .header__cart--popup {
    width: 100%;
    max-width: 390px;
  }
  .content__title--item {
    width: 100%;
    object-fit: cover;
  }
  .content__title--item:nth-child(2), .content__title--item:nth-child(3) {
    display: none;
  }
  .content__slider {
    margin-top: 10px;
  }
  .content__slider--wrap img {
    border-radius: 30px 0 30px 0;
    object-fit: cover;
  }
  .content__slider .pc {
    display: none;
  }
  .content__slider .mobile {
    display: flex;
  }
  .content .trending__title {
    font-size: 20px;
  }
  .content .trending__tab--item {
    font-size: 15px;
    margin: 0 14px;
  }
  .content .trending__list {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
  }
  .content .trending__list--item {
    width: 130px;
  }
  .content .trending__list--item--content--nav {
    margin: 6px 0;
  }
  .content .trending__list--item--content--name {
    height: 42px;
  }
  .content .trending__list--item--content--cart i {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0 8px;
  }
  .content__ads--slider {
    gap: 17px;
  }
  .content__ads--slider img {
    border-radius: 30px 0;
  }
  .content__gallery h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    letter-spacing: normal;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer__infor h2 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14px;
  }
  .footer__infor ul li {
    font-size: 14px;
    line-height: 24px;
    color: #57585A;
    margin-bottom: 16px;
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
